body {
  background: #fff;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
  height: 500px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.graph-view {
  width : 600px;
  height: 384px;
  margin: 8px;
}

.search-container {
  width : 300px;
  vertical-align:top;
  /*display: inline-block;*/
}

.search-results {
  z-index: 10;
  position: absolute;
  cursor:pointer;
  background: #fff;
}

.portfolio-list {
/*  display: inline-block; */
}

.portfolio-list-column {
/*  display: inline-block; */
}

.portfolio-component {
  padding: 0px;
}

.portfolio-graph {
  width: 500px;
  height: 300px
  padding: 200px;
}

.graph-slider {
  /*display: inline-block;*/
}

.component-graph {
  width: 200px;
  height: 80px;
}

.ct-line {
  stroke: #FF0;
}

.searchInput {
}

.slider-indicator{
  font-size: 12px;
}

.slider-controls {

}

.range-buttons {
  width 80%;
  padding: 10px;
}

.remove-button {
  padding: 10px;
}

.portfolio-graph .ct-line {
stroke:rgba(0,1,0,1);
}

.ct-chart .ct-label,.ct-chart .ct-label.ct-horizontal {
  color:rgba(0,0,0,1.0);
  font-size:1.0rem
}

.ct-chart .ct-label,.ct-chart .ct-label.ct-vertical {
  color:rgba(0,0,0,1.0);
  font-size:1.0rem
}

.ct-chart .ct-series.ct-series-a .ct-line {
  stroke-width:2px;
}

.portfolio-summary {
  padding: 10px;
  height:150px;
}
