body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.graph-view {
  width : 600px;
  height: 384px;
  margin: 8px;
}

.search-container {
  width : 300px;
  vertical-align:top;
  display: inline-block;
}

.search-results {
  z-index: 10;
  position: absolute;
  cursor:pointer;
}

.portfolio-container {
}

.portfolio-list {
/*  display: inline-block; */
}

.portfolio-list-column {
/*  display: inline-block; */
}

.portfolio-component {
  padding: 0px;
}

.portfolio-graph {
  display: inline-block;
  width: 400px;
  height: 300px;

}

.ct-line {
  stroke: #FF0;
}

.searchInput {
}

.remove-button {
  padding: 10px;
}

.portfolio-graph .ct-line {
stroke:rgba(0,1,0,1);
}
